@use "../utils/mixin";

.header-acceuil{
    

    &__barre{
        display: flex;
        height: 4rem;
        justify-content: center;
        align-items:center;
        width: 100%;
        background-color:white;

        & .logo{
            justify-self: center;
            width: 10rem;
            height: 2rem;
        
        }
    }
}

.reservation{
    @include bg-color-grey;
    display: grid;
    text-align: center;
    padding: 2rem 2rem 3rem 2rem;
    gap: 1rem;

    // & button{
    //     @include btn--purple;
    // }
}

